body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.noren {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
